// Project colors
$white: rgba(225, 225, 225, 1);
$deep_white: rgba(237, 233, 233, 1);
$light_gray: rgba(227, 223, 223, 1);
$deep_gray: rgba(51, 51, 51, 1);
$black: rgba(1, 1, 1, 1);
$light_black: rgba(1, 1, 1, 0.8);
$green: rgba(8, 116, 84, 1);
$casual_green: rgba(3, 74, 51, 1);
$deep_green: rgba(4, 58, 42, 1);
$smooth_green: rgba(0, 128, 128, 1);
$dark_green: rgba(2, 40, 32, 1);
$yellow: rgba(255, 219, 88, 1);

// Font
$poppins: "Poppins";

// Transitions
$normal: 0.6s all ease-in-out;

// Weights
$light: 300;
$semi: 600;
$bold: 700;
